body{
    margin: 0 0 0 0;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
}

.side{
    position: absolute;
    float: left;
    margin-left: 50px;
}

hr{
    margin: 0;
    height: 10px;
    background-color: cadetblue;
}

h1{
    margin: 50px auto 0 auto;
    width:20%;
    font-family: 'Sacramento', cursive;
    font-size: 200px;
    color: rgb(210, 57, 30);
    line-height: 2;
}

h2{
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5rem;
    color: rgb(210, 57, 30);
    margin-top:0;
}

p{
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.top{
    background-color: rgb(248, 145, 145);
    margin: 0;
    padding-top: 100px;
    position: relative;
}

.middle{
    background-color: white;
    margin-top: 0;
}

.bottom{
    background-color: white;
    margin-top: 0;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{

    position: absolute;
    top: 300px;
    left: 300px;

}

.middle-mountain{

    margin: 0 33%;
    
}

.top-cloud{

    position: absolute;
    right:300px;
    top: 50px;


}

#circle-me{

    margin-top: 25px;
    width: 400px;
    height: 400px;
    left: 0em;
}

#circle-icon{

    width: 100px;
    height: 100px;
    margin-top: 30px;
}

#skills-icon{

    width: 100px;
    height: 100px;
    margin-top: 30px;
}

#contact-icon{

    width: 100px;
    height: 100px;
    margin-top: 30px;
}
